EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://services.ws.estoque.lopes.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.ws.estoque.lopes.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.ws.estoque.lopes.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AddItem" type="tns:AddItem"/>

      <xs:element name="AddItemResponse" type="tns:AddItemResponse"/>

      <xs:element name="AuthorizationFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="itens" type="tns:itens"/>

      <xs:element name="listItens" type="tns:listItens"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="listItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="tipo" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AddItem">
        <xs:sequence>
          <xs:element name="Item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AddItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence>
          <xs:element name="msg" type="xs:string" minOccurs="0"/>
          <xs:element name="dateFault" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="AddItem">
    <part name="parameters" element="tns:AddItem"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="AddItemResponse">
    <part name="result" element="tns:AddItemResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <message name="AllItens">
    <part name="parameters" element="tns:listItens"/>
  </message>
  <message name="AllItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="AddItem" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://services.ws.estoque.lopes.com.br/EstoqueWS/AddItemRequest" message="tns:AddItem"/>
      <output wsam:Action="http://services.ws.estoque.lopes.com.br/EstoqueWS/AddItemResponse" message="tns:AddItemResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://services.ws.estoque.lopes.com.br/EstoqueWS/AddItem/Fault/AuthorizationException"/>
    </operation>
    <operation name="AllItens">
      <input wsam:Action="http://services.ws.estoque.lopes.com.br/EstoqueWS/AllItensRequest" message="tns:AllItens"/>
      <output wsam:Action="http://services.ws.estoque.lopes.com.br/EstoqueWS/AllItensResponse" message="tns:AllItensResponse"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="AddItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:AddItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
    <operation name="AllItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

